# PostgreSQL Connection Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=zerotrustertb
DB_SSLMODE=disable
DB_TIMEZONE=UTC


# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=Your Email Address
SMTP_PASSWORD=Your Email App Password
