# Environment variables
.env
.env.*
!.env.example

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Build / temp
tmp/
dist/
build/

# Go specific
/bin/
/vendor/

# IDE
.vscode/
.idea/

# SQL files
*.sql