{{define "content"}}

 <div class="toolbar">
<!-- 🔍 Search Bar -->
<form method="GET" style="margin-bottom: 15px;">
    <input type="text" name="q" value="{{.Query}}" placeholder="Search..." />
    <button type="submit" class="btn btn-secondary">Search</button>
</form>

<form method="GET" style="margin-bottom: 15px;">
    <label for="status">Status:</label>
    <select name="Active" id="status" onchange="this.form.submit()">
        <option value="">All</option>
        <option value="true" {{if eq .Active "active"}}selected{{end}}>Active</option>
        <option value="false" {{if eq .Active "inactive"}}selected{{end}}>Inactive</option>
    </select>
</form>


<form method="GET" style="margin-bottom: 15px;" action="/salary/componentType/create">
   <button type="submit" class="btn btn-secondary">
     <img src="/static/icons/plus.svg" alt="Add New User +"  class="icon" width="20"/>
   </button>
</form>


<button type="button" class="btn btn-secondary" style="margin-bottom: 15px;" id="backBtn"> < Back</button>
<select name="pageSize" style="margin-bottom: 15px;" id="selectPageSize">
    <option>10</option>
    <option>20</option>
    <option>50</option>
    <option>100</option>
    <option>200</option>
</select>
<button type="button" class="btn btn-secondary" style="margin-bottom: 15px;" id="nextBtn">Next > </button>




<form method="post" action="/componentType/upload/csv" enctype="multipart/form-data" style="margin-bottom: 15px;" id="UploadCSVIdForm">
    <button type="button" class="btn btn-secondary" onclick="ImportJobs()"><img src="/static/icons/upload.svg" width="20" /> Upload </button>
    <input type="file" name="csvFile" style="display: none;" id="csvFileId">
</form>


<form method="GET" action="/componentType/download/csv" enctype="multipart/form-data" style="margin-bottom: 15px;" id="downloadCSVIdForm">
    <button type="submit" class="btn btn-secondary"><img src="/static/icons/download.svg" width="20" /> Download </button>
</form>




</div><!--toolbar-->

<table>
    <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Code</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            
        </tr>
    </tbody>
</table>


{{end}}