{{define "content"}}


<hr>
<div class="tool-bar">
        <a href="/employees/contract/end/{{.contract.ID}}" class="btn btn-secondary">End this Contract</a>

        <a href="/employees/contract/update/IBAN/{{.contract.ID}}" class="btn btn-secondary">Update IBAN</a>

        <a href="/employees/contract/update/Salary/{{.contract.ID}}" class="btn btn-secondary">Update Salary</a>


      
</div>
<hr>


<form method="POST">

    <table>
        <tr>
            <td>
               Contract ID
            </td>
            <td>
{{.contract.ID}}
            </td>
        </tr>
        <tr>
            <td>
                Name
            </td>
            <td>
                {{.contract.Name}}
            </td>
        </tr>

        <tr>
            <td>
                Employee
            </td>
            <td>
                <a href="/employees/details/{{.contract.Employee.ID}}" target="_blank">
                   {{.contract.Employee.Name}}
                </a>
                
            </td>
        </tr>

        <tr>
            <td>
                Job Title
            </td>
            <td>
                {{if .contract.JobTitle}}
                 {{.contract.JobTitle.Name}}
                 {{else}}
                  -
                {{end}}
            </td>
        </tr>

          <tr>
            <td>
                Work Location
            </td>
            <td>
                {{.contract.WorkLocation}}
            </td>
        </tr>

      

        <tr>
            <td>
                Start Date
            </td>
            <td>
                {{.contract.StartDate.Format "01/02/2006"}}
            </td>
        </tr>

        <tr>
            <td>
                End Date
            </td>
            <td>
                  {{if .EndDate}}
                        {{.EndDate.Format "01/02/2006"}}
                        {{else}}
                         -
                        {{end}}
            </td>
        </tr>

        

        <tr>
            <td>
                Total Service Years
            </td>
             <td>
                
                {{.contract.TotalServiceYears}}

                <button type="button" class="btn"><img src="/static/icons/refresh.svg" class="icon" width="20"></button>

             </td>  
        </tr>

        <tr>
            <td>
                Created At
            </td>
             <td>{{.contract.CreatedAt.Format "2006-01-02 15:04:05"}}</td>
        </tr>

        <tr>
            <td>
                Shift Schedule
            </td>
             <td>
                <a href="/ShiftSchedule/details/{{.contract.ShiftSchedule.ID}}" target="_blank">
                    {{.contract.ShiftSchedule.Name}}
                </a>
            </td>
        </tr>

        <tr>
            <td>
                Status
            </td>
             <td>{{.contract.Status}}</td>  
        </tr>

        <tr>
            <td>
                IBAN
            </td>
            <td>
                {{.contract.IBAN}}
            </td>
        </tr>

        <tr>
            <td>
                Bank Name
            </td>
            <td>
                {{.contract.BankName}}
            </td>
        </tr>

          <tr>
            <td>
                Yearly Total Allocation Days
            </td>
            <td>
                {{.contract.YearlyTotalAllocationDays}}
            </td>
        </tr>

        <tr>
            <td>
                Accrual Rate Per Day
            </td>
            <td>
                {{.contract.AccrualRatePerDay}}
            </td>
        </tr>


        <tr>
            <td>
                Absense Balance
            </td>
            <td>
                {{.contract.AbsenseBalance}}
            </td>
        </tr>




    </table>

    <hr>
    <h3>Salary Package</h3>
    <table border="1">

        {{range .contract.SalaryLines}}
        <tr>
            <th>Effective Date</th>
            <th>{{.EffectiveDate.Format "01/02/2006"}}</th>
           
        </tr>

         <tr>
            <th>End Date</th>
            <th>
                {{if .EndDate}}
                {{.EndDate.Format "01/02/2006"}}
                {{else}}
                -
                {{end}}
            </th>
           
        </tr>
      
        <tr>
            <td>Base Salary</td>
            <td>{{.BaseSalary}}</td>
           
        </tr>

        {{range .Components}}
        <tr>
            <td>{{.Type.Name}}</td>
            <td>{{.Amount}}</td>
        </tr>
        {{end}}


        <tr>
            <th>Gross Salary</th>
            <th>{{.GrossSalary}}</th>
        </tr>

        <tr>
            <th>Net Salary</th>
            <th>{{.NetSalary}}</th>
        </tr>
        {{end}}
        

</form>


{{end}}