{{define "content"}}

 <div class="toolbar">
<!-- 🔍 Search Bar -->
<form method="GET" style="margin-bottom: 15px;">
    <input type="text" name="q" value="{{.Query}}" placeholder="Search..." />
    <button type="submit" class="btn btn-secondary">Search</button>
</form>

<form method="GET" style="margin-bottom: 15px;">
    <label for="status">Status:</label>
    <select name="Active" id="status" onchange="this.form.submit()">
        <option value="">All</option>
        <option value="true" {{if eq .Active "active"}}selected{{end}}>Active</option>
        <option value="false" {{if eq .Active "inactive"}}selected{{end}}>Inactive</option>
    </select>
</form>


<form method="GET" style="margin-bottom: 15px;" action="/employees/Contract/create">
   <button type="submit" class="btn btn-secondary">
     <img src="/static/icons/plus.svg" alt="Add New User +"  class="icon" width="20"/>
   </button>
</form>


<button type="button" class="btn btn-secondary" style="margin-bottom: 15px;" id="backBtn"> < Back</button>
<select name="pageSize" style="margin-bottom: 15px;" id="selectPageSize">
    <option>10</option>
    <option>20</option>
    <option>50</option>
    <option>100</option>
    <option>200</option>
</select>
<button type="button" class="btn btn-secondary" style="margin-bottom: 15px;" id="nextBtn">Next > </button>




<form method="post" action="/Contract/upload/csv" enctype="multipart/form-data" style="margin-bottom: 15px;" id="UploadCSVIdForm">
    <button type="button" class="btn btn-secondary" onclick="ImportJobs()"><img src="/static/icons/upload.svg" width="20" /> Upload </button>
    <input type="file" name="csvFile" style="display: none;" id="csvFileId">
</form>


<form method="GET" action="/Contract/download/csv" enctype="multipart/form-data" style="margin-bottom: 15px;" id="downloadCSVIdForm">
    <button type="submit" class="btn btn-secondary"><img src="/static/icons/download.svg" width="20" /> Download </button>
</form>




</div><!--toolbar-->
Total Records: {{.TotalRecords}} 

<table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Employee</th>
                    <th>Name</th>
                    <th>StartDate</th>
                    <th>EndDate</th>
                    <th>CreatedAt</th>
                    <th>ShiftSchedule</th>
                    <th>Status</th>
                    <th>Net Salary</th>
                  
                </tr>
            </thead>
             <tbody>

                {{range .Contracts}}
                <tr>
                    <td>
                        <a class="btn btn-id" href="/employees/contract/details/{{.ID}}">
                        {{.ID}}
                        </a>
                    </td>

                    <td>{{.Employee.Name}}</td>
                    <td>{{.Name}}</td>
                    <td>{{.StartDate.Format "01/02/2006"}}</td>

                    
                    <td>
                        {{if .EndDate}}
                        {{.EndDate.Format "01/02/2006"}}
                        {{else}}
                         -
                        {{end}}
                    </td>

                    <td>{{.CreatedAt.Format "2006-01-02 15:04:05"}}</td>
                    <td>{{.ShiftSchedule.Name}}</td>
                    <td>{{.Status}}</td>

                    <td>
                        {{range .SalaryLines}}
                        <ul>
                            <li>{{.NetSalary}}</li>
                        </ul>
                        {{end}}
                    </td>

                </tr>
                {{end}}
            </tbody>
</table>


{{end}}