{{define "content"}}

<h4>Create Department</h4>

<form method="post" action="/employees/departments/create">

<table>
    <tbody>
        <tr>
            <td>Code</td><td><input type="text" placeholder="Enter Department Code" name="code"></td>
        </tr>

        <tr>
            <td>Name</td><td><input type="text" placeholder="Enter Department Name" name="name"></td>
        </tr>

        <tr>
            <td>Name(AR)</td><td><input type="text" placeholder="Enter Department Name (AR)" name="nameAR"></td>
        </tr>

         <tr>
            <td>Manager</td>
            <td>
                <select name="manager" class="select-search" id="ManagerSelect">
                    <option>Select Department Manager</option>
                </select>
            </td>
        </tr>

        <tr>
            <td>Active</td><td><input type="checkbox"  name="active" checked></td>
        </tr>


    </tbody>
</table>


<button type="submit" class="btn btn-primary m-5">Create Department</button>

</form>



<script>
    document.addEventListener('DOMContentLoaded', function() {
        
        const ManagerSelect = document.getElementById('ManagerSelect');

        // Fetch employees and populate the select
        fetch('/api/employees/list')
            .then(response => response.json())
            .then(data => {
                console.log('Employees data:', data); // Debugging log
                data.forEach(employee => {
                    const option = document.createElement('option');
                    option.value = employee.ID;
                    option.textContent ="(" + employee.BadgeID + ") " + employee.Name + " (" + employee.LocalName + ") - " + employee.ID;
                    ManagerSelect.appendChild(option);
                });
            })
            .catch(error => console.error('Error fetching employees:', error));


             selectSearch();
          });
</script>

{{end}}