
 {{define "content"}}
       
        <table>
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Name (AR)</th>
                    <th>Manager</th>
                    <th>Employee Count</th>
                  
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>IT-001</td>
                    <td>IT Department</td>
                    <td>قسم تقنية المعلومات</td>
                    <td>Ali Musa Alhashim</td>
                    <td>5</td>
                    
                </tr>
               
            </tbody>
        </table>
{{end}}