{{define "content"}}

<hr>
<div class="tool-bar">
        <a href="/employees" class="btn btn-secondary">Calender</a>

        <a href="/employees" class="btn btn-secondary">Tasks</a>

        <a href="/employees" class="btn btn-secondary">Contracts</a>

        <a href="/employees" class="btn btn-secondary">Payslips</a>

        <a href="/employees" class="btn btn-secondary">Performance</a>

        

       

        

        <a href="/employees" class="btn btn-secondary">Training</a>

           

        <a href="/employees" class="btn btn-secondary">Onboarding</a>

        <a href="/employees" class="btn btn-secondary">Offboarding</a>
</div>
<hr>



<form method="POST" action="/employees/update/{{.Employee.ID}}" enctype="multipart/form-data">

    

<table>
    <tr>
        <td>Image</td>
        <td>
             {{if .Employee.Image}}
                <img src="../{{.Employee.Image}}" alt="{{.Employee.Name}}" width="150">
                <input type="file" name="img" style="display: none;" id="imgInput">
            {{else}}
                {{slice .Employee.Name 0 1}}
            {{end}}
        </td>
    </tr>

    <tr>
        <td>Name</td>
        <td><input type="text" name="name" value="{{.Employee.Name}}"></td>
    </tr>

        <tr>
            <td>Local Name</td>
            <td><input type="text" name="localName" value="{{.Employee.LocalName}}"></td>   
        </tr>


        <tr>
            <td>Education</td>
            <td><input type="text" name="education" value="{{.Employee.Education}}"></td>
        </tr>

        <tr>
            <td>Major</td>
            <td><input type="text" name="major" value="{{.Employee.Major}}"></td>
        </tr>

            <tr>
                <td>Department</td>
                <td>
                    <select name="department" id="department">
                    {{if .Employee.Department}}
                    <option value="{{.Employee.Department.ID}}" selected>{{.Employee.Department.Name}}</option>
                    {{end}}
                    </select>
                </td>
            </tr>

                <tr>
                    <td>Job Title</td>
                    <td>
                        <select name="jobTitle" id="jobTitle">
                        {{if .Employee.JobTitle}}
                       <option value="{{.Employee.JobTitle.ID}}" selected>{{.Employee.JobTitle.Name}}</option>
                        {{end}}
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>Badge ID</td>
                    <td>{{.Employee.BadgeID}}</td>
                </tr>

                <tr>
                    <td>System ID</td>
                    <td>{{.Employee.ID}}</td>
                </tr>

                <tr>
                    <td>Status</td>
                    <td><input type="text" name="status" value="{{.Employee.Status}}" readonly></td>
                </tr>

                <tr>
                    <td>Email</td>
                    <td><input type="email" name="email" value="{{.Employee.Email}}"></td>
                </tr>
                    <tr>
                        <td>Phone</td>
                        <td><input type="text" name="phone" value="{{.Employee.PhoneNumber}}"></td> 
                    </tr>
                        <tr>
                            <td>Birth Date</td>
                            <td><input type="date" name="birthDate" value="{{.Employee.BirthDate.Format "2006-01-02"}}"></td>
                        </tr>
                            <tr>
                                <td>Nationality</td>
                                <td>
                                    <select name="nationality" id="nationality">
                                    <option value="{{.Employee.Nationality}}">{{.Employee.Nationality}}</option>    
                                       <option value="Saudi">Saudi</option>
                                        <option value="Egyptian">Egyptian</option>
                                        <option value="Jordanian">Jordanian</option>
                                        <option value="Syrian">Syrian</option>
                                        <option value="Lebanese">Lebanese</option>
                                        <option value="Iraqi">Iraqi</option>
                                        <option value="Indian">Indian</option>
                                        <option value="Pakistani">Pakistani</option>
                                        <option value="Filipino">Filipino</option>
                                        <option value="Bangladeshi">Bangladeshi</option>
                                        <option value="Sudanese">Sudanese</option>
                                </select>
                                </td>
                            </tr>


                            <tr>
            <td>Religion</td>
            <td>
                <select name="religion">
                    <option value="{{.Employee.Religion}}">{{.Employee.Religion}}</option>
                    <option value="Islam">Islam</option>
                    <option value="Christianity">Christianity</option>
                    <option value="Hinduism">Hinduism</option>
                    <option value="Buddhism">Buddhism</option>
                    <option value="Judaism">Judaism</option>
                    <option value="Other">Other</option>
                </select>
            </td>
        </tr>
                                <tr>
                                    <td>
                                        Gender
                                    </td>
                                    <td>
                                        <select name="gender">
                                             <option value="{{.Employee.Gender}}">{{.Employee.Gender}}</option>
                                          <option value="Male">Male       </option>   
                                            <option value="Female">Female     </option>
                                            <option value="Other">Other       </option>
                                            </select>

                                    </td>
                                </tr>

                                    <tr>
                                        <td>Marital Status</td>
                                        <td>
                                        <select name="maritalStatus">
                                            <option value="{{.Employee.MaritalStatus}}">{{.Employee.MaritalStatus}}</option>

                                             <option value="Single">Single     </option>   
                                            <option value="Married">Married   </option>
                                            <option value="Divorced">Divorced </option>
                                            <option value="Widowed">Widowed   </option>

                                        </select>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>Created Date</td>
                                        <td>{{.Employee.CreatedAt.Format "2006-01-02"}}</td>
                                    </tr>



</table>       
           
      

  

        









         <h4>Certifications</h4>
        {{if .Employee.Certifications}}
          
                {{range .Employee.Certifications}}
                   <table>
                       <thead>
                           <tr>
                               <th>ID</th>
                               <th >Name</th>
                               <th >Issuer</th>
                               <th >IssueDate</th>
                               <th >ExpiryDate</th>
                               <th >Attachment</th>
                           </tr>    
                          </thead>
                          <tbody id="tbody_Certifications">
                            <tr>
                                 <td >{{.ID}}</td>
                                 <td >{{.Name}}</td>
                                 <td >{{.Issuer}}</td>
                                 <td >{{.IssueDate.Format "2006-01-02"}}</td>
                                 <td >{{.ExpiryDate.Format "2006-01-02"}}</td>
                                 <td >{{if .FilePath}}<a href="../{{.FilePath}}" target="_blank">View</a>{{else}}-{{end}}</td>
                            </tr>
                    </table>
                {{end}}
            
        {{else}}
            <p>No Certifications listed.</p>
        {{end}}

        <hr>
        <button type="button" class="btn btn-secondary">Add</button>







        <h4>Family Members</h4>
        {{if .Employee.FamilyMembers}}
           
                {{range .Employee.FamilyMembers}}
                   <table style="width: 100%; border-collapse: collapse;">
                       <thead>
                           <tr>
                               <th >Name</th>
                               <th >Relationship</th>
                               <th >Birth Date</th>
                               <th >Contact Number</th>
                               <th >Government ID</th>
                               <th >Attachment</th>
                           </tr>    
                          </thead>
                          <tbody>
                            <tr>
                                 <td >{{.Name}}</td>
                                 <td >{{.Relationship}}</td>
                                 <td >{{.BirthDate.Format "2006-01-02"}}</td>
                                 <td >{{.ContactNumber}}</td>
                                 <td >{{.GovernmentId}}</td>
                                 <td >{{if .FilePath}}<a href="../{{.FilePath}}" target="_blank">View</a>{{else}}-{{end}}</td>
                            </tr>
                    </table>
                {{end}}
          
        {{else}}
            <p>No family members listed.</p>
        {{end}}

        <hr>
        <button type="button" class="btn btn-secondary">Add</button>






          <h4>Emergency Contacts</h4>
        {{if .Employee.EmergencyContacts}}
          
                {{range .Employee.EmergencyContacts}}
                   <table >
                       <thead>
                           <tr>
                               <th>ID</th>
                               <th>Name</th>
                               <th>Relationship</th>
                               <th>Phone</th>
                           
                           </tr>    
                          </thead>
                          <tbody id="tbody_Certifications">
                            <tr>
                                 <td >{{.ID}}</td>
                                 <td >{{.Name}}</td>
                                 <td >{{.Relationship}}</td>
                                 <td >{{.Phone}}</td>
                                
                            </tr>
                    </table>
                {{end}}
           
        {{else}}
            <p>No Emergency Contacts listed.</p>
        {{end}}

        <hr>
        <button type="button" class="btn btn-secondary">Add</button>






          <h4>Documents</h4>
        {{if .Employee.EmployeeDocuments}}
           
                {{range .Employee.EmployeeDocuments}}
                   <table>
                       <thead>
                           <tr>
                               <th >ID</th>
                               <th >Name</th>
                               <th >Type</th>
                               <th >Attachment</th>
                               <th >Expiry Date</th>
                           
                           </tr>    
                          </thead>
                          <tbody id="tbody_Certifications">
                            <tr>
                                 <td >{{.ID}}</td>
                                 <td >{{.Name}}</td>
                                 <td >{{.Type}}</td>
                                 <td >{{.FilePath}}</td>
                                 <td >{{.ExpiryDate.Format "2006-01-02"}}</td>
                                
                            </tr>
                    </table>
                {{end}}
           
        {{else}}
            <p>No Documents listed.</p>
        {{end}}

        <hr>
        <button type="button" class="btn btn-secondary">Add</button>




        <hr>
        <button type="submit" class="btn btn-primary">Save</button>
   
</form>

{{end}}