{{define "content"}}
<h3>Employee Information</h3>

<form method="post" action="/employees/create" enctype="multipart/form-data">
    
<table>
    <tbody>
        <tr>
            <th>Badge ID</th>
            <th>
                <input type="text" name="badgeId" id="badgeID"> <button type="button" class="btn btn-secondary" onclick="GenerateID()">Generate Badge ID</button>
            </th>
        </tr>

        <tr>
            <th>Name</th>
            <th><input type="text" name="name"></th>
        </tr>

        <tr>
            <th>Name(AR)</th>
            <th>
                <input type="text" name="local_name">
            </th>
        </tr>
        <tr>
            <th>Work Email</th>
            <th><input type="email" name="email"></th>
        </tr>

         <tr>
            <th>Goverment ID</th>
            <th><input type="text" name="govermentId"></th>
        </tr>

         <tr>
            <th>Birth Date</th>
            <th><input type="date" name="birthDate"></th>
        </tr>

        <tr>
            <th>Department</th>
            <th>
                <select name="departmentId">
                    <option value="0">Select Department</option>
                </select>
            </th>
        </tr>

         <tr>
            <th>Job Title</th>
            <th>
                <select name="jobTitleId">
                    <option value="0">Select Job Title</option>
                </select>
            </th>
        </tr>

        
         <tr>
            <th>Nationality</th>
            <th>
                <select name="nationality" class="select-search">
                    <option value="0">Select Nationality</option>
                    <option value="Saudi">Saudi</option>
                    <option value="Egyptian">Egyptian</option>
                    <option value="Jordanian">Jordanian</option>
                    <option value="Syrian">Syrian</option>
                    <option value="Lebanese">Lebanese</option>
                    <option value="Iraqi">Iraqi</option>
                    <option value="Indian">Indian</option>
                    <option value="Pakistani">Pakistani</option>
                    <option value="Filipino">Filipino</option>
                    <option value="Bangladeshi">Bangladeshi</option>
                    <option value="Sudanese">Sudanese</option>
                </select>
            </th>
        </tr>

        <tr>
            <th>Grade</th>
            <th><input type="text" name="grade"></th>
        </tr>

        <tr>
            <th>Image</th>
            <th>
                <input type="file" name="image" class="btn btn-secondary">
            </th>
        </tr>
    </tbody>
</table>    
<br>
<hr>
<h3>Certifcations</h3>
<table> 
<thead>
    <tr>
        <th>Certification Name</th>
        <th>Issuing Organization</th>
        <th>Issue Date</th>
        <th>Expiration Date</th>
        <th>Attachment</th>
    </tr>
</thead>
<tbody>
</tbody>
</table>


<br>
<hr>
<h3>Family Members</h3>
<table>
<thead>
    <tr>
        <th>Name</th>
        <th>Relationship</th>
        <th>Contact Number</th>
        <th>Gender</th>
        <th>Government ID</th>
        <th>Birth Date</th>
        <th>Attachment</th>
    </tr>
</thead>
<tbody>
</tbody>
</table>

<br>
<hr>
<h3>Emergency Contacts </h3>
<table> 
<thead>
    <tr>
        <th>Name</th>
        <th>Relationship</th>
        <th>Contact Number</th> 
      </tr>
</thead>
<tbody>
</tbody>
</table>


<button type="submit" class="btn btn-primary m-5">Create Employee</button>
</form>

<script>
function GenerateID() {
    fetch('/employees/generate-badge-id')
        .then(response => response.json())
        .then(data => {
            document.getElementById('badgeID').value = data.badge_id;
        })
        .catch(error => console.error('Error generating badge ID:', error));
}
</script>

{{end}}