
 {{define "content"}}
       
        <table>
            <thead>
                <tr>
                    <th>Photo</th>
                    <th>Badge#</th>
                    <th>Name</th>
                    <th>Name(AR)</th>
                    <th>Work Email</th>
                    <th>Department</th>
                    <th>Job Title</th>
                    <th>Status</th>
                  
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <img src="/static/icons/userCircle.svg" class="employee-photo" width="90">
                    </td>
                    <td>A1000</td>
                    <td>Ali Musa Alhashim</td>
                    <td>علي موسى الهاشم</td>
                    <td>Ali@example.com</td>
                    <td>IT Department</td>
                    <td>IT Supervisor</td>
                    <td>Active</td>
                   
                </tr>
             
            </tbody>
        </table>
{{end}}