{{define "content"}}
<h3>Employee Information</h3>

<form method="post" action="/employees/create" enctype="multipart/form-data">
    
<table>
    <tbody>
        <tr>
            <th>Badge ID</th>
            <th>
                <input type="text" name="badgeId" id="badgeID"> <button type="button" class="btn btn-secondary" onclick="GenerateID()">Generate Badge ID</button>
            </th>
        </tr>

        <tr>
            <th>Name</th>
            <th><input type="text" name="name"></th>
        </tr>

        <tr>
            <th>Name(AR)</th>
            <th>
                <input type="text" name="local_name">
            </th>
        </tr>
        <tr>
            <th>Work Email</th>
            <th><input type="email" name="email"></th>
        </tr>

         <tr>
            <th>Goverment ID</th>
            <th><input type="text" name="govermentId"></th>
        </tr>

         <tr>
            <th>Birth Date</th>
            <th><input type="date" name="birthDate"></th>
        </tr>

        <tr>
            <th>Department</th>
            <th>
                <select name="departmentId">
                    <option value="0">Select Department</option>
                </select>
            </th>
        </tr>

         <tr>
            <th>Job Title</th>
            <th>
                <select name="jobTitleId">
                    <option value="0">Select Job Title</option>
                </select>
            </th>
        </tr>

        
         <tr>
            <th>Nationality</th>
            <th>
                <select name="nationality" class="select-search">
                    <option value="0">Select Nationality</option>
                    <option value="Saudi">Saudi</option>
                    <option value="Egyptian">Egyptian</option>
                    <option value="Jordanian">Jordanian</option>
                    <option value="Syrian">Syrian</option>
                    <option value="Lebanese">Lebanese</option>
                    <option value="Iraqi">Iraqi</option>
                    <option value="Indian">Indian</option>
                    <option value="Pakistani">Pakistani</option>
                    <option value="Filipino">Filipino</option>
                    <option value="Bangladeshi">Bangladeshi</option>
                    <option value="Sudanese">Sudanese</option>
                </select>
            </th>
        </tr>

        <tr>
            <th>Grade</th>
            <th><input type="text" name="grade"></th>
        </tr>

        <tr>
            <th>Image</th>
            <th>
                <input type="file" name="image" class="btn btn-secondary">
            </th>
        </tr>
    </tbody>
</table>    
<br>
<hr>
<h3>Certifcations</h3>
<table> 
<thead>
    <tr>
        <th>Certification Name</th>
        <th>Issuing Organization</th>
        <th>Issue Date</th>
        <th>Expiration Date</th>
        <th>Attachment</th>
        <th>-</th>
    </tr>
</thead>
<tbody id="CertifcationsTableBody">

</tbody>
</table>
<button type="button" class="btn btn-secondary m-3" onclick="addCertification()">Add Certification</button>


<br>
<hr>
<h3>Family Members</h3>
<table>
<thead>
    <tr>
        <th>Name</th>
        <th>Relationship</th>
        <th>Contact Number</th>
        <th>Gender</th>
        <th>Government ID</th>
        <th>Birth Date</th>
        <th>Attachment</th>
        <th>-</th>
    </tr>
</thead>
<tbody id="FamilyMembersTableBody">
</tbody>
</table>
<button type="button" class="btn btn-secondary m-3" onclick="addFamilyMember()">Add Family Member</button>

<br>
<hr>
<h3>Emergency Contacts </h3>
<table> 
<thead>
    <tr>
        <th>Name</th>
        <th>Relationship</th>
        <th>Contact Number</th> 
        <th>-</th>
      </tr>
</thead>
<tbody id="EmergencyContactsTableBody">
</tbody>
</table>
<button type="button" class="btn btn-secondary m-3" onclick="addEmergencyContact()">Add Emergency Contact</button>
<br>
<hr>
<h3>Documents</h3>
<table>
<thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Expiry Date</th>
        <th>Attachment</th>
        <th>-</th>
    </tr>
</thead>
<tbody id="DocumentsTableBody">
</tbody>
</table>
<button type="button" class="btn btn-secondary m-3" onclick="addDocument()">Add Document</button>

<br/>
<hr/>
<button type="submit" class="btn btn-primary m-5">Create Employee</button>
</form>

<script>
function GenerateID() {
    fetch('/employees/generate-badge-id')
        .then(response => response.json())
        .then(data => {
            document.getElementById('badgeID').value = data.badge_id;
        })
        .catch(error => console.error('Error generating badge ID:', error));
}
</script>



<script>
    function addCertification() {
        const tableBody = document.getElementById('CertifcationsTableBody');
        const newRow = document.createElement('tr');

        newRow.innerHTML = `
            <td><input type="text" name="certificationName[]"></td>
            <td><input type="text" name="issuingOrganization[]"></td>
            <td><input type="date" name="issueDate[]"></td>
            <td><input type="date" name="expirationDate[]"></td>
            <td><input type="file" name="certificationAttachment[]" class="btn btn-secondary"></td>
            <td><button type="button" class="btn btn-danger" onclick="this.closest('tr').remove()">Remove</button></td>
        `;

        tableBody.appendChild(newRow);
    }


    function addFamilyMember() {
        const tableBody = document.getElementById('FamilyMembersTableBody');
        const newRow = document.createElement('tr');

        newRow.innerHTML = `
            <td><input type="text" name="familyMemberName[]"></td>
            <td><input type="text" name="familyMemberRelationship[]"></td>
            <td><input type="text" name="familyMemberContactNumber[]"></td>
            <td>
                <select name="familyMemberGender[]">
                    <option value="Male">Male</option>      
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                </select>
            </td>
            <td><input type="text" name="familyMemberGovernmentId[]"></td>
            <td><input type="date" name="familyMemberBirthDate[]"></td>
            <td><input type="file" name="familyMemberAttachment[]" class="btn btn-secondary"></td>
            <td><button type="button" class="btn btn-danger" onclick="this.closest('tr').remove()">Remove</button></td>
        `;
        tableBody.appendChild(newRow);
    }

    function addEmergencyContact() {
        const tableBody = document.getElementById('EmergencyContactsTableBody');
        const newRow = document.createElement('tr');

        newRow.innerHTML = `
            <td><input type="text" name="emergencyContactName[]"></td>
            <td><input type="text" name="emergencyContactRelationship[]"></td>
            <td><input type="text" name="emergencyContactNumber[]"></td>
            <td><button type="button" class="btn btn-danger" onclick="this.closest('tr').remove()">Remove</button></td>
        `;
        tableBody.appendChild(newRow);
    }

    function addDocument() {
        const tableBody = document.getElementById('DocumentsTableBody');
        const newRow = document.createElement('tr');

        newRow.innerHTML = `
            <td><input type="text" name="documentName[]"></td>
            <td><input type="text" name="documentType[]"></td>
            <td><input type="date" name="documentExpiryDate[]"></td>
            <td><input type="file" name="documentAttachment[]" class="btn btn-secondary"></td>
            <td><button type="button" class="btn btn-danger" onclick="this.closest('tr').remove()">Remove</button></td>
        `;
        tableBody.appendChild(newRow);
    }
</script>

{{end}}