
 {{define "content"}}
       
        <table>
            <thead>
                <tr>
                    <th>Badge#</th>
                    <th>Name</th>
                    <th>Work Email</th>
                    <th>Department</th>
                    <th>Status</th>
                  
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>A1000</td>
                    <td>Ali Musa Alhashim</td>
                    <td>Ali@example.com</td>
                    <td>IT Department</td>
                    <td>Active</td>
                   
                </tr>
                <tr>
                    <td>A1001</td>
                    <td>Jane Smith</td>
                    <td>jane@example.com</td>
                    <td>Sales Department</td>
                    <td>Active</td>
                  
                </tr>
            </tbody>
        </table>
{{end}}