
 {{define "content"}}

 <h3>Job Definitions</h3>
       
        <table>
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Name (AR)</th>
                    <th>-</th>
                  
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>A\C TCH</td>
                    <td>AC Technician</td>
                    <td>فني تركيب تكييف وتبريد</td>
                    <td>-</td>
                    
                </tr>
               
            </tbody>
        </table>
{{end}}