{{define "content"}}

<h4>Create Job</h4>

<form method="POST">
    <table>
        <tbody>
            <tr>
                <th>Code</th><th><input type="text" name="code"></th>
            </tr>
            <tr>
                <th>Name</th><th><input type="text" name="name"></th>
            </tr>
            <tr>
                <th>Name(AR)</th><th><input type="text" name="local_name"></th>
            </tr>
            <tr>
                <th>Description</th>
                <th>
                    <textarea name="description"></textarea>
                </th>
            </tr>
        </tbody>
    </table>
    <br>
    <button class="btn btn-primary">Create</button>
</form>

{{end}}