{{define "content"}}

 <h3>Shift Schedules</h3>


 <div class="toolbar">
<!-- 🔍 Search Bar -->
<form method="GET" style="margin-bottom: 15px;">
    <input type="text" name="q" value="{{.Query}}" placeholder="Search..." />
    <button type="submit" class="btn btn-secondary">Search</button>
</form>

<form method="GET" style="margin-bottom: 15px;">
    <label for="status">Status:</label>
    <select name="Active" id="status" onchange="this.form.submit()">
        <option value="">All</option>
        <option value="true" {{if eq .Active "active"}}selected{{end}}>Active</option>
        <option value="false" {{if eq .Active "inactive"}}selected{{end}}>Inactive</option>
    </select>
</form>


<form method="GET" style="margin-bottom: 15px;" action="/employees/shift/create">
   <button type="submit" class="btn btn-secondary">
     <img src="/static/icons/plus.svg" alt="Add New User +"  class="icon" width="20"/>
   </button>
</form>


<button type="button" class="btn btn-secondary" style="margin-bottom: 15px;" id="backBtn"> < Back</button>
<select name="pageSize" style="margin-bottom: 15px;" id="selectPageSize">
    <option>10</option>
    <option>20</option>
    <option>50</option>
    <option>100</option>
    <option>200</option>
</select>
<button type="button" class="btn btn-secondary" style="margin-bottom: 15px;" id="nextBtn">Next > </button>




<form method="post" action="/shift/upload/csv" enctype="multipart/form-data" style="margin-bottom: 15px;" id="UploadCSVIdForm">
    <button type="button" class="btn btn-secondary" onclick="ImportShift()"><img src="/static/icons/upload.svg" width="20" /> Upload </button>
    <input type="file" name="csvFile" style="display: none;" id="csvFileId">
</form>


<form method="GET" action="/shift/download/csv" enctype="multipart/form-data" style="margin-bottom: 15px;" id="downloadCSVIdForm">
    <button type="submit" class="btn btn-secondary"><img src="/static/icons/download.svg" width="20" /> Download </button>
</form>


</div><!--toolbar-->


 Total Records: {{.TotalRecords}} 

  <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>From Time</th>
                    <th>To Time</th>
                    <th>From Date</th>
                    <th>To Date</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                    <th>Sunday</th>
                </tr>
            </thead>

            <tbody>
                {{range .ShiftSchedules}}
                <tr>
                    
                      <td>
                        <a class="btn btn-id" href="/ShiftSchedule/details/{{.ID}}">
                        {{.ID}}
                        </a>
                      </td>


                    <td>{{.Name}}</td>
                    <td>{{.FromTime.Format "03:04 PM"}}</td>
                    <td>{{.ToTime.Format "03:04 PM"}}</td>
                    <td>{{.FromDate.Format "01/02/2006"}}</td>
                    <td>{{.ToDate.Format "01/02/2006"}}</td>
                    <td>
                        <img src="{{if .Monday}}/static/icons/check.svg {{else}} /static/icons/x-mark.svg {{end}}" width="20">
                    </td>
                     <td>
                        <img src="{{if .Tuesday}}/static/icons/check.svg {{else}} /static/icons/x-mark.svg {{end}}" width="20">
                    </td>
                     <td>
                        <img src="{{if .Wednesday}}/static/icons/check.svg {{else}} /static/icons/x-mark.svg {{end}}" width="20">
                    </td>
                     <td>
                        <img src="{{if .Thursday}}/static/icons/check.svg {{else}} /static/icons/x-mark.svg {{end}}" width="20">
                    </td>
                     <td>
                        <img src="{{if .Friday}}/static/icons/check.svg {{else}} /static/icons/x-mark.svg {{end}}" width="20">
                    </td>
                     <td>
                        <img src="{{if .Saturday}}/static/icons/check.svg {{else}} /static/icons/x-mark.svg {{end}}" width="20">
                    </td>
                     <td>
                        <img src="{{if .Sunday}}/static/icons/check.svg {{else}} /static/icons/x-mark.svg {{end}}" width="20">
                    </td>
                </tr>
                {{end}}
            </tbody>
  </table>

{{end}}