{{define "content"}}

<h1>Dashboard</h1>


<div class="row">

    <div class="card"> <!-- Start of card -->
        <h3>User Information</h3>
        <table>
            <tr>
                <td><strong>Name:</strong></td>
                <td>{{.User.Username}}</td>
            </tr>
            <tr>
                <td><strong>Email:</strong></td>
                <td>{{.User.Email}}</td>
            </tr>
            <tr>
                <td><strong>Roles:</strong></td>
                <td>
                    <ul>
                        {{range .User.Roles}}
                            <li>{{.Name}}</li>
                        {{end}}
                    </ul>
                </td>
            </tr>
            <tr>
                <td><strong>Related Employee Id:</strong></td>
                <td>
                    {{if .User.RelatedEmployee}}
                        {{.User.RelatedEmployee.ID}}
                    {{else}}
                        No related employee
                    {{end}}
                     
                </td>
            </tr>
        </table>
    </div> <!-- End of card -->


      <div class="card m-x-2"> <!-- Start of card -->
        <h3>Employee Information</h3>
        <table>
            <tr>
                <td><strong>Name:</strong></td>
                <td>{{.Employee.Name}}</td>
            </tr>
            <tr>
                <td><strong>Local Name:</strong></td>
                <td>{{.Employee.LocalName}}</td>
            </tr>
            <tr>
                <td><strong>Gove. Id:</strong></td>
                <td>{{.Employee.GovermentID}}</td>
            </tr>
            <tr>
                <td><strong>Email:</strong></td>
                <td>{{.Employee.Email}}</td>
            </tr>
            <tr>
                <td><strong>Badge Id:</strong></td>
                <td>{{.Employee.BadgeID}}</td>
            </tr>
            <tr>
                <td><strong>Department:</strong></td>
                <td>
                    {{if .Employee.Department}}
                        {{.Employee.Department.Name}}
                    {{else}}
                        No department available
                    {{end}}
                </td>
            </tr>
            <tr>
                <td><strong>Job Title:</strong></td>
                <td>
                    {{if .Employee.JobTitle}}
                        {{.Employee.JobTitle.Name}}
                    {{else}}
                        No job title available
                    {{end}}
                </td>
            </tr>
            
        </table>
    </div> <!-- End of card -->


     <div class="card">
        <h3>Employee Image</h3>
        <img src="/employees/{{.Employee.Image}}" alt="Employee Image" style="width:150px;height:auto;"> 
        <br><br>
        <form method="POST" action="/employees/self-services/upload-image" enctype="multipart/form-data">
            <input type="file" name="image" accept="image/*" required>
            <br>
            <button type="submit">Upload New Image</button>
        </form>

     </div>


    

    

</div> <!-- End of row -->


{{end}}