
 {{define "content"}}
       
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>John Doe</td>
                    <td>john@example.com</td>
                    <td>Admin</td>
                    <td>Active</td>
                    <td class="actions">
                         <button class="table-btn edit">Edit</button>
                         <button class="table-btn delete">Delete</button>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Jane Smith</td>
                    <td>jane@example.com</td>
                    <td>User</td>
                    <td>Active</td>
                    <td class="actions">
                          <button class="table-btn edit">Edit</button>
                         <button class="table-btn delete">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
{{end}}