{{define "content"}}

<h1>User /  {{.User.ID}}</h1>

<form id="updateUserForm">

<table>
    <thead>
       <th colspan="2">User Info</th>
    </thead>
    <tbody>
       <tr>
        <td>
            ID
        </td>
        <td>
            {{.User.ID}}
        </td>
       </tr>

       <tr>
        <td>
            Username
        </td>
        <td>
            <input type="text" value="{{.User.Username}}" name="Username">
        </td>
       </tr>

        <tr>
        <td>
            Email
        </td>
        <td>
            <input type="email" value="{{.User.Email}}" name="Email">
        </td>
       </tr>
    </tbody>
</table>

<br/>

<table>
    <thead>
       <th colspan="2">User Security</th>
    </thead>
    <tbody>

        <tr>
        <td>
         Active
        </td>
        <td>
          <input type="checkbox" name="Active" id="Active" {{if .User.Active}}checked{{end}}>
        </td>
       </tr>


       <tr>
        <td>
           Last Login
        </td>
        <td>
            {{if .User.LastLogin}}
            {{.User.LastLogin.Format "2006-01-02 15:04:05"}}
            {{else}}
             Never
            {{end}}
        </td>
       </tr>

       <tr>
        <td>
           Created At
        </td>
        <td>
            {{.User.CreatedAt.Format "2006-01-02 15:04:05"}}
        </td>
       </tr>

         <tr>
        <td>
           Updated At
        </td>
        <td>
            {{.User.UpdatedAt.Format "2006-01-02 15:04:05"}}
        </td>
       </tr>

    </tbody>
</table>


<br/>

<table>
    <thead>
        <tr>
        <th colspan="5">
            Roles
        </th>
        </tr>

         <tr>
            <td>
                #
            </td>
            <td>
                Role Name
            </td>
            <td>
                Description
            </td>
            <td>
                Permisstions
            </td>
            <td>-</td>

            

        </tr>


        

    </thead>
  <tbody id="roles-Table-Body">
    {{range .User.Roles}}
    <tr>
        <td>{{.ID}}</td>
        <td><strong>{{.Name}}</strong></td>
        <td>{{.Description}}</td>



         


        <td>
            <table>
                <thead>
                    <tr>
                        <th>ID</th><th>Resource</th><th>Action</th>
                    </tr>
                </thead>
                <tbody>
            {{range .Permissions}}
               <tr>
                <td>{{.ID}}</td><td>{{.Resource}}</td><td>{{.Action}}</td>
                    
            {{else}}
            <td colspan="3">
                <small>No permissions</small>
            </td>
                </tr>
            {{end}}
               </tbody>
            </table>
        </td>


         <td>
                <button type="button" class="btn btn-danger" onclick="removeTR(this)">
                <img src="/static/icons/trash.svg" alt="remove"  class="icon" width="20"/>
                </button>
           </td>

    </tr>
    {{else}}
    <tr>
        <td colspan="4">No roles assigned to this user.</td>
    </tr>
    {{end}}
</tbody>
</table>


<br>
<button type="submit" class="btn btn-primary">Update</button>
<input type="hidden" name="rolesCountInput" id="rolesCountInput" value="">
</form>



<script>
document.getElementById('updateUserForm').addEventListener('submit', function(e) {
    e.preventDefault();
    
    fetch('/users/update/{{.User.ID}}', {
        method: 'PATCH',
        credentials: 'include',
        body: new FormData(this)
    }).then(response => {
        if (response.ok) {
            window.location.href = '/users/details/{{.User.ID}}';
        }
    });
});



 function removeTR(button) {
    const row = button.parentNode.parentNode; // Get the parent row of the button
    row.parentNode.removeChild(row); // Remove the row from the table

    // Update the roles count after removal
    const tableBody = document.getElementById('roles-Table-Body');
    const rolesCountInput = document.getElementById('rolesCount');
    rolesCountInput.value = tableBody.rows.length; // Update count to current number of rows
  }



</script>

{{end}}